/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-147f00fe]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.img-list[data-v-147f00fe]{display:flex;flex-wrap:nowrap;margin-left:10px}.img-list .img-item[data-v-147f00fe]{display:inline-block;margin-left:-15px;cursor:pointer;border:3px solid #fff}