/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-4c54f3e1]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.list-box .list-item[data-v-4c54f3e1]{display:flex;gap:10px;align-items:center;padding-bottom:20px}.list-box .list-item .space-item[data-v-4c54f3e1]{display:flex;flex:1;gap:10px;align-items:center;min-width:80px}.list-box .list-item .set-box[data-v-4c54f3e1]{min-width:70px}