/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-4707d5c2]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.part-mask[data-v-4707d5c2]{position:relative;border:2px dashed #eaeaea;cursor:move}.part-mask .part-action[data-v-4707d5c2]{display:none;position:absolute;z-index:99;top:0;left:0}.part-mask .part-action[data-v-4707d5c2] .el-button{padding:5px}.part-mask:hover .part-action[data-v-4707d5c2]{display:inline-block}