/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-f2d66088]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.select-input[data-v-f2d66088]{width:260px}.select-input[data-v-f2d66088] .el-input-group__prepend{width:100px;background-color:#fff}[data-v-3fd90ff8]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.selectOn[data-v-3fd90ff8]{color:#2d8cf0}