/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-08e0c846]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.space-item .set-btn[data-v-08e0c846],.space-item[data-v-08e0c846]{display:flex;gap:10px;align-items:center}.space-item .set-btn[data-v-08e0c846]{min-width:60px}