/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */.inline-input{.el-input{width:auto!important;min-width:500px;margin-right:10px;vertical-align:top}}.form-item-wrapper{display:inline-flex;align-items:center;width:100%;word-break:break-all;vertical-align:middle}.error-wrapper{padding-left:14px;color:#ed4014}.error-wrapper,.info-wrapper{font-size:12px;white-space:nowrap}.info-wrapper{padding-top:14px;line-height:12px;color:#999}