/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-916c5f9c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.color-input[data-v-916c5f9c]{display:flex;flex-wrap:nowrap;align-items:center;gap:10px}.color-input[data-v-916c5f9c] .el-input-group__append{background-color:#fff}.color-input[data-v-916c5f9c] .el-input-group__append .el-button:disabled:hover{border:1px solid #1890ff;color:#606266!important}