/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-0134696e]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.bottom-btns[data-v-0134696e]{display:flex;flex-direction:row;align-items:center;justify-content:space-between}.vab-data-empty[data-v-0134696e]{min-height:600px!important}