/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-791ceb53]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.reset-input[data-v-791ceb53] .el-input-group__append{background-color:#fff}.reset-input[data-v-791ceb53] .el-input-group__append .el-button:disabled:hover{border:1px solid #1890ff;color:#606266!important}