/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-0e4b77e7]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.list-box[data-v-0e4b77e7]{padding-right:10px}.list-box .list-item[data-v-0e4b77e7]{display:flex;align-items:center;padding-bottom:20px;gap:10px}.list-box .list-item .space-item[data-v-0e4b77e7]{min-width:80px;flex:1}