/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 12:34:34
 */[data-v-34d37ae8]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-34d37ae8] .el-dialog__body{min-height:500px;max-height:60vh;overflow-x:hidden;overflow-y:auto}[data-v-34d37ae8] .el-dialog{top:50%;transform:translateY(-50%);border-radius:8px}