/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 23:38:05
 */[data-v-038c9bd8]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.page-container[data-v-038c9bd8]{padding:0!important;background:#f6f8f9!important}