/*!
 *  build: kasushou v2 
 *  copyright: kasushou.com xinmengnet 
 *  time: 2026-2-6 23:38:05
 */.context-view .monaco-menu{min-width:130px}.context-view-block{position:fixed;left:0;top:0;z-index:-1;width:100%;height:100%}